<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>
<main>
  <h1><%= title %> </h1>
  <form id="new-form" action="/plans/<%= plan._id %>?_method=PUT" method="post">
    <label>
      Name: 
      <input type="text" name="name" value="<%= plan.name %>">
    </label><br>
    <label>
      Date of Birth:
      <input type="date" name="dateOfBirth" value="<%= plan.dateOfBirth %>">
    </label><br>
    <label>
      Location:
      <input type="text" name="location" value="<%= plan.location %>">
    </label><br>
    <label>
      Next of Kin:
      <input type="text" name="nextOfKin" value="<%= plan.nextOfKin %> ">
    </label><br>
    <label for="">Durable Power of Attorney:
      <input type="text" name="powerOfAttorney" value="<%= plan.powerOfAttorney %> ">
    </label><br>
    <label for="dnr-checkbox">
      Do Not Resuscitate?:
      <input type="checkbox" name="dnr" <%= plan.dnr ? 'check' : '' %>  >
    </label><br>
    <button type="submit">Save Death Plan</button>
  </form>
</main>

<%- include('../partials/footer') %>