<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <% if (plan.owner.equals(user?.profile._id)) { %>
  <div>
    <a href="/plans/<%= plan._id %>/edit ">
      <button>Edit Your Plan</button>
    </a>
  </div>
  <% } %> 
  <section>
    <div>Name: 
      <span class="form-inputs">
      <%= plan.name %> </div>
      </span>
 
    <div>Date of Birth: 
      <span class="form-inputs">
      <%= plan.dateOfBirth %></div>
    </span>
 
    <div>Location: 
      <span class="form-inputs">
      <%= plan.location %></div>
    </span>
  
    <div>Next of Kin: 
      <span class="form-inputs">
      <%= plan.nextOfKin %></div>
    </span>
 
    <div>Durable Power of Attorney:
      <span class="form-inputs">
      <%= plan.powerOfAttorney %></div>
    </span>
 
    <div>Do Not Resuscitate?:
      <span class="form-inputs">
      <%= plan.dnr ? 'Yes' : 'No' %></div>
    </span>
  
    <div>Preferred Final Disposition Method(s):</div>
    <ul class="form-inputs">
      <% plan.finalDispo.forEach(dispoMethod => { %> 
        <li><%= dispoMethod.method %> </li>
      <% }) %> 
    </ul>
    
  </section>
  <% if (plan.owner.equals(user?.profile._id)) { %>
  <form action="/plans/<%= plan._id %>/dispositions" method="post">
    <select name="dispositionId">
      <% dispositions.forEach(disposition => { %>
        <option value="<%= disposition._id %>"><%= disposition.method %></option>
      <% }) %> 
    </select>
    <button type="submit">Add Your Preferred Final Disposition Method</button>
    </form>
    
  <h2>Living Will Statement</h2>
  <form action="/plans/<%= plan._id %>/wills" method="post">
    <textarea name="content" id="content-textarea"></textarea>
    <br>
    <button type="submit">Add Will</button>
  </form>
  <% } %> 
    <% if (plan.wills.length) {%> 
        <% plan.wills.forEach(will => { %> 
        <p id="will-id">
          <%= will.content %> 
          <% if (plan.owner.equals(user?.profile._id)) { %>
          <form action="/plans/<%=plan._id%>/wills/<%=will._id%>?_method=DELETE" method="POST">
            <button>X</button>
          </form>
          <% } %> 
        </p>
          <% }) %> 
    <% } else { %> 
          <h4>No Will Statement Yet</h4>
    <% } %> 
    
</main>

<%- include('../partials/footer') %>