<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <div>
    <a href="/plans/<%= plan._id %>/edit ">
      <button>Edit Your Plan</button>
    </a>
  </div>
  <section>
    <div>Name: </div>
    <div>
      <%= plan.name %> 
    </div>
    <div>Date of Birth: </div>
    <div>
      <%= plan.dateOfBirth %>
    </div>
    <div>Location: </div>
    <div>
      <%= plan.location %> 
    </div>
    <div>Next of Kin: </div>
    <div>
      <%= plan.nextOfKin %> 
    </div>
    <div>Durable Power of Attorney: </div>
    <div>
      <%= plan.powerOfAttorney %> 
    </div>
    <div>Do Not Resuscitate?: </div>
    <div>
      <%= plan.dnr ? 'Yes' : 'No' %> 
    </div>
    <div>Preferred Final Disposition Method(s):</div>
    <ul>
      <% plan.finalDispo.forEach(dispoMethod => { %> 
        <li><%= dispoMethod.method %> </li>
      <% }) %> 
    </ul>
 
  </section>
  <% if (plan.owner.equals(user?.profile._id)) { %>
  <form action="/plans/<%= plan._id %>/dispositions" method="post">
    <select name="dispositionId">
      <% dispositions.forEach(disposition => { %>
        <option value="<%= disposition._id %>"><%= disposition.method %></option>
      <% }) %> 
    </select>
    <button type="submit">Add Your Preferred Final Disposition Method</button>
    </form>
    <% } %> 
  <h2>Living Will Statement</h2>
  <form action="/plans/<%= plan._id %>/wills" method="post">
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Add Will</button>
  </form>
    <% if (plan.wills.length) {%> 
      <body> 
        <% plan.wills.forEach(will => { %> 
        <p>
          <%= will.content %> 
        </p>
          <% }) %> 
        </body>
    <% } else { %> 
          <h4>No Will Statement Yet</h4>
    <% } %> 
</main>

<%- include('../partials/footer') %>