function show(req, res) {
  Plan.findById(req.params.id)
  .populate('dispositions')
  .exec(plan => {
  Disposition.find({_id: {$nin: plan.finalDispos}}, function(err, dispositions){
    res.render('plans/show', {
      plan,
      dispositions,
      title: "Your Death Plan"
    })
  })
  })
}

<form action="/plans/<%= plan._id %>/dispositions" method="post">
<select name="dispositionId">
  <% dispositions.forEach(disposition => { %>
    <option value="<%= disposition._id %> "><%= disposition.method %> </option>
  <% }) %> 
</select>
<label>Do you wish to be embalmed?:</label>
<input type="checkbox" name="embalm">
<button>Add Your Preferred Final Disposition Method</button>
</form>


<label>Do you wish to be embalmed?:</label>
    <input type="checkbox" name="embalm">

    <ul>
      <% plan.finalDispo.forEach(dispoMethod => { %> 
        <li><%= dispoMethod.method %> </li>
      <% }) %> 
    </ul>

    <form action="/plans/<%= plan._id %>/dispositions" method="post">
      <select name="dispositionId">
        <% dispositions.forEach(disposition => { %>
          <option value="<%= disposition._id %> "><%= disposition.method %> </option>
        <% }) %> 
      </select>
      <button>Add Your Preferred Final Disposition Method</button>
      </form>