<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
    <% } %>
    <h2>Create a <a href="/profiles/new">New Profile</a></h2>
    <h2>View Your <a href="/profiles">Profile(s)</a></h2>
</main>

<%- include('./partials/footer') %>
