<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <select>
    <% dispositions.forEach(disposition => { %>
      <option><%= disposition.method %> </option>
    <% }) %> 
  </select>
  <form action="/dispositions" method="post">
    <label for="method-input">Method: </label>
    <input type="text" name="method">
    <button type="submit">Submit Method</button>
  </form>
</main>

<%- include('../partials/footer') %>